.container
{
    margin: 10px;
}

.saythankslogo
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80px;
}
.saythanksDescription
{
    font-size: 20px;
    margin-top: 10px;
}

.saythanksText
{
    font-size: 14px;
}

.saythanksmailimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:180px;
}


